@media (max-width: 768px) {
  .author {
    margin: 5px;
  }
  .author__description {
    width: 100%;
  }
  .new-collection {
    display: none;
  }
  .collection {
    margin: 5px;
  }
  .collection__products {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .author {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .author__description {
    text-align: center;
  }
  .new-collection img {
    width: 100%;
  }
  .collection {
    margin: 10px;
  }
  .collection__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
  }
  .featured__products {        `
    display: flex;
    flex-wrap: wrap;
  }
  .element-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px;
  }
}

@media (max-width: 1170px) {
  .new-collection {
    width: 768px;
    margin: 5px auto
  }
  .new-collection img {
    width: 100%;
  }
  .collection__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
  }
  .main-panel {
    width: 1170px;

  }
  .footer {
    width: 1170px;
  }
  .element-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px;
  }
  .top-panel {
    width: 1170px;
  }
}