* {
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
	font-weight: 400;
}

.top-panel {
	position: relative;
	padding: 5px 0;
}

.top-panel:before, .top-panel:after {
	content: '';
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
	background-color: #22210f;
}

.top-panel__message {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.shop-now {
	color: #fff;
	text-decoration: underline;
}

.shop-now:hover {
	text-decoration: none;
}

.header {
	width: 1170px;
	margin: 0 auto;
}

.header__flex {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	padding: 10px 0;
}

.header__navbar {
	padding: 10px 0;
	display: flex;
	justify-content: center;
}

.header__menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	text-transform: uppercase;
}

.header__menu>li {
	list-style-type: none;
	padding-right: 60px;
	color: #3c3c3c;
	text-decoration: underline;
	font-size: 20px;
}

.header__menu>li:hover {
	text-decoration: none;
	cursor: pointer;
	transition: all 3s ease-out
}

.header__components {
	padding: 10px 0;
	display: flex;
	align-items: center;
	width: 20%;
	height: auto;
	background-color: #fce4c8;
}

.search-form__toogle {
	visibility: visible;
	opacity: 1;
	transition: all .3s ease-out;
}

.main-container {
	width: 1170px;
	margin: 0 auto;
}

.slick-prev,
.slick-next {
	color: #ff33ff;
	background-color: #ff33ff;
}
