* {
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
	font-weight: 400;
}

.top-panel {
  padding: 5px 0;
  background-color: #22210f;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.top-panel__message {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.shop-now {
	color: #fff;
	text-decoration: underline;
}

.shop-now:hover {
	text-decoration: none;
}

.header {
	width: 960px;
	margin: 0 auto;
}

.header__flex {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	padding: 10px 0;
}

.header__navbar {
	padding: 10px 0;
	display: flex;
	justify-content: center;
}

.header__menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 300px;
	text-transform: uppercase;
}

.header__menu>li {
  list-style-type: none;
  margin-right: 40px;
}

.header__menu-item {
  display: inline-block;
  color:#191919;
  line-height: 1.5;
  text-decoration:none;
  cursor: pointer;
  font-size: 20px;
}

.header__menu-item:after {
  background-color: #191919;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.header__menu-item:hover:after,
.header__menu-item:focus:after {
  width: 100%;
}

.header__components {
	padding: 10px 0;
	display: flex;
	align-items: center;
	width: 20%;
	height: auto;
	background-color: #fce4c8;
}

.search-form__toogle {
	visibility: visible;
	opacity: 1;
	transition: all .3s ease-out;
}

.main-container {
	width: 960px;
	margin: 0 auto;
}

.banner__img {
  position: relative;
}

.banner__img:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #f193bb;
  opacity: 0.95;
  right: 0;
}

.banner__desc {
  display: block;
  position: absolute;
  text-transform: uppercase;
  right: 52px;
  top: 100px;
  font-size: 52px;
  font-weight: 700;
  color: #fff;
}

.banner__desc1 {
  display: block;
  position: absolute;
  text-transform: uppercase;
  right: 111px;
  top: 194px;
  font-size: 145px;
  font-weight: 700;
  color: #fff;
}

.banner__desc2 {
  display: block;
  position: absolute;
  text-transform: uppercase;
  right: 111px;
  top: 383px;
  font-size: 145px;
  font-weight: 700;
  color: #fff;
}

.banner__desc3 {
  display: block;
  position: absolute;
  text-transform: uppercase;
  right: 54px;
  top: 583px;
  font-size: 39px;
  font-weight: 500;
  color: #fff;
}

a.banner__button {
  text-transform: uppercase;
  font-weight: 700;
  right: 168px;
  bottom: 143px;
  position: absolute;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: rgb(212,75,56);
  padding: 1.2em 1.5em;
  outline: none;
}

a.banner__button:hover { 
  transition: 0.5s;
  cursor: pointer;
  background: rgb(232,95,76); 
}
a.banner__button:active { 
  transition: 0.5s;
  cursor: pointer;
  background: rgb(152,15,0); 
}

.author {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 50px;
}

.author__img {
  margin-top: 40px;
  margin-right: 40px;
}

.author__img img {
  width: 280px;
  height: 280px;
}

.manee1 {
  border-radius: 50%;
}

.collection {
  display: flex;
  flex-direction: column;

}

.new-collection {
  position: relative;
  width: 960px;
}

.new-collection img {
  width: 100%;
  height: auto;
  border: 3px solid #f193bb;
}

.new-collection h2 {
  position: absolute;
  top: -5px;
  left:29px;
  text-transform: uppercase;
  color: #f193bb;
  font-size: 49px;
}

.collection__products {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.collection__products-item {
  margin-top: 30px;
  margin-right: 16px;
  margin-left: 16px;
}

.collection__products-item img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 0px 2px #84818c, 0px 0px 0px 5px #f0f0ee, 0px 0px 0px 7px #84818c;
}

.collection__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection__description a {
  text-decoration: none;
  color: #191919;
}

.collection__description h3 {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
}

.collection__description span {
  font-weight: 500;
}

.collection__price {
  font-size: 21px;
  color: #343434;
}

.description-item {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
}

.kitty {
  position: relative;
}

.kitty:before {
  content: 'SALE';
  color: #f193bb;
  position: absolute;
  border: 3px solid #f193bb; 
  top: -238px;
  left: -26px;
  font-size: 25px;
}

.chunky {
  position: relative;
}

.chunky:before {
  content: 'FEATURED';
  color: #fff;
  position: absolute;
  border: 3px solid #fff; 
  top: -238px;
  left: -12px;
  font-size: 25px;
}

.main-panel {
  height: 100%;
  background-color: #8a8787;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.main-featured {
  position: relative;
  width: 960px;
}

.featured__products {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 110px;
}

.featured__products-item {
  position: relative;
  margin-top: 30px;
  margin-right: 16px;
  margin-left: 16px;
}

.featured__products-item img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 0px 2px #84818c, 0px 0px 0px 5px #f0f0ee, 0px 0px 0px 7px #84818c;
}

.featured__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured__description a {
  text-decoration: none;
  color: #191919;
}

.featured__description h3 {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
}

.featured__description span {
  font-weight: 500;
}

.featured__price {
  font-size: 21px;
  color: #343434;
}

.main-featured:before {
  content: 'FEATURED PRODUCTS';
  text-transform: uppercase;
  display: block;
  position: absolute;
  font-weight: 700;
  left: 41px;
  top: 20px;
  font-size: 50px;
  color: #343434;
}

.footer {
  height: 100%;
  background-color: #141414;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-services {
  display: flex;
  justify-content: center;
}

.element-container {
  padding-top: 50px;
  padding-bottom: 70px;
  width: 960px;
  height: auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.element-icon i {
  display: block;
  font-size: 60px;
  color: #22c3e5;
}

.element-item {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element-text {
  margin-left: 10px;
}

.element__desc {
  display: block;
  display: block;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 1.44;
  font-family: sans-serif;
  padding-bottom: 3px;
}

.element__desc1 {
  padding-top: 3px;
  display: block;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.44;
  font-family: sans-serif;
}

.elementor-inner {
  display: flex;
  justify-content: center;
}

.elementor-space-inner {
  width: 960px;
  height: 10px;
  display: block;
  border-bottom: 0.5px solid #999999;
  margin-bottom: 40px;
}

.footer-area {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.footer__about {
  display: flex;
  flex-direction: column;
  color: #999999;
  width: 400px;
  font-size: 14px;
  line-height: 1.8;
}

.footer__logo img {
  display: block;
  margin-bottom: 25px;
  width: 300px;
}

.footer__menu {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-left: 15px; 
}

.menu__information {
  color: #fff;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 900;
  margin-bottom: 23px;
}

.menu__nav {
  color: #999999;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 130px;
  
}

.menu__element {
  text-decoration: none;
  color: #999999;
  line-height: 1.9;
  font-size: 14px;
  margin-right: 35px;
}

.menu__element:hover {
  color: #fff;
  transition: 0.5s;
}

.footer__information {
  color: #fff;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 900;
  margin-bottom: 27px;
}

.footer__input {
  background-color: #141414;
  padding-left: 10px;
  color: #fff;
  outline: none;
}

.footer__mail {
  display: flex;
}

a.mail__button {
  text-transform: uppercase;
  font-weight: 500;
  right: 221px;
  bottom: 143px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: rgba(34, 195, 227, 1);
  padding: 0.7em 0.5em;
  outline: none;
}

a.mail__button:hover { 
  transition: 0.3s;
  cursor: pointer;
  background: rgb(232,95,76); 
}
a.mail__button:active { 
  transition: 0.3s;
  cursor: pointer;
  background: rgb(152,15,0); 
}

.follow__information {
  color: #fff;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 900;
  margin-bottom: 27px;
  margin-top: 15px;
}

.follow-widget {
  display: flex;
}

.follow-icon {
  display: block;
  font-size: 25px;
  margin-right: 25px;
}

.follow-icon a {
  text-decoration: none;
  color: #999999;
  transition: .3s linear;
}

.follow-icon a:hover {
  color: #fff;
}

.copirate {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.rights {
  color: #999999;
}

.payment {
  display: flex;

}




